html {
    width: 90%;
    max-width: 800px;
    margin: 0 auto; 
    -webkit-text-size-adjust: none;
    text-align: center;
}


@font-face {
  font-family: 'Nautilus';
  src: url('/Nautilus.otf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('/Helvetica.otf');
}

body {
  background-image: url('/back.jpg');
  color: white;
  font-family: 'Helvetica';
}


.shitty {
  font-family: 'Nautilus';
}

.medium {
  font-size: 16pt;
}

.big {
  font-size: 18pt;
}

.small {
  font-size: 14pt;
}

.curved {
  font-style: italic;
}

h1 {
  font-size: 14pt;
}

#welcomeback {
  display: none;
}

#space {
 height: 1em;
}


.error {
    color: black;
    border: none;
    background: #fedad9;
    border-radius: 1.5em;
    margin: 20px;
    padding: 20px;
}

#phone-cap {
    margin-bottom: 10px;
}

#img {
  height: 10em;
  margin-bottom: 10px;
}

img {
  height: 100%;
}

.snimg {
    height: 3em;
}

a + a {
  margin-left: 2em;
}

/* h1: text with a line */
h1 {
    overflow: hidden;
    text-align: center;
    margin-bottom: 0.4em;
}
h1:before,
h1:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}

/* button inside input */
input.phone, input.code{
  border: none;
  background: none;
}

input.phone,input.code, .send, .icon {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    vertical-align: middle;
}

input.phone, input.code{
    width: 80%;
    height: 100%;
    margin: 0;
}

.smoothinputcontainer {
  margin-left: 5px;
  margin-right: 15px;
  width: 100%;
  max-width: 25em;
  margin: 0 auto;
}

.smoothinput {
    background: #fedad9;
    border-radius: 1.5em;
    padding: 5px;
    width: auto;
}

.icon {
  margin-left: 5px;
}

.logo_small {
  display: none;
}

@media screen and (max-width: 750px) {
  .logo {
    width: 100%;
    height: auto;
  }
  #img {
    height: auto;
  }
}

@media screen and (max-width: 30em) {
    .logo {
      display: none;
    }
    .logo_small {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    .phone, .code {
      font-size: 12pt !important;
    }
    .icon {
      display: none;
    }
    .send {
      height: 1em !important;
    }
    a + a {
      margin-left: 0.1em !important;
    }
  html {
      width: 100% !important;
  }
}

@media screen and (max-width: 15em) {
    .phone, .code {
      font-size: 10pt !important;
    }
    .send {
      height: 0.5em !important;
    }
    a + a {
      margin-left: 0 !important;
    }
    .snimg {
        height: 1.5em;
    }
    .big {
      font-size: 11pt;
    }

    .small {
      font-size: 10pt;
    }

    .logo {
      margin: 0 !important;
    }
}

@media screen and (max-width: 11em) {
    .phone, .code {
      font-size: 6pt !important;
    }
    /* word wrap */
    div {
      overflow-wrap: normal;
      word-wrap: normal;
      word-break: normal;
      line-break: auto;
      -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
    }
    h1:before, h1:after {
      display: none;
    }
}
